version: '{build}'
image:
- ubuntu2004
- Visual Studio 2022

skip_branch_with_pr: true
pull_requests:
  do_not_increment_build_number: true

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  NUGET_XMLDOC_MODE: skip

branches:
  only:
  - master
  - /release-.*/
  - /^\d+\.\d+\.\d+(-\S*)?$/

test: off
deploy: off

artifacts:
- path: ./**/*.nupkg
  type: NuGetPackage
- path: ./**/*.snupkg
  type: NuGetPackage

for:
-
  matrix:
    only:
      - image: ubuntu2004

  build_script:
  - sh: ./build.sh

-
  matrix:
    only:
      - image: Visual Studio 2019

  build_script:
  - cmd: .\build.cmd
